<div class="w-full bg-[#c5fd02] p-2 flex justify-between shadow-md sticky top-0">
  <div class="flex items-center ">
    <div class="h-10 w-10">
      <img src="assets/gif/logo/tenor.gif" alt="logo" class="mix-blend-multiply">
    </div>
    <div class="text-white text-3xl font-bold">
      Fastrack
    </div>
  </div>
  <div class="w-2/3 justify-between items-center text-white hidden sm:flex">
    <a class="hover:bg-lime-500 hover:bg-opacity-60 px-2 py-1 rounded-md hover:font-semibold cursor-pointer">Home</a>
    <a class="hover:bg-lime-500 hover:bg-opacity-60 px-2 py-1 rounded-md hover:font-semibold cursor-pointer">Menu</a>
    <a href="/home#contact" class="hover:bg-lime-500 hover:bg-opacity-60 px-2 py-1 rounded-md hover:font-semibold cursor-pointer">Contact</a>
    <a class="hover:bg-lime-500 hover:bg-opacity-60 px-2 py-1 rounded-md hover:font-semibold cursor-pointer">Services</a>
  </div>
  <div class="sm:hidden block cursor-pointer active:scale-95" (click)="hide = !hide; handleAnimation()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10 text-white">
      <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
    </svg>
  </div>
</div>

@if(hide){

}

<div class="w-full fixed top-20 left-0 z-20" (click)="hide = !hide;">
    <div class="w-full sm:hidden p-2 sticky z-30 top-20 flex" (click)="$event.stopImmediatePropagation()">
        <div class="w-full font-extrabold text-white text-center flex flex-col justify-end">
            <div *ngFor="let item of navItems; let i = index"
                 [ngStyle]="{'--delay': i * 0.2 + 's'}" [id]="'div' + i"
                 class="w-2/3 flex justify-center items-center my-0.5 shadow-md overflow-hidden bg-lime-300 transform -translate-x-[110%]">
                <a href="{{item.identity}}" class="w-full px-3 p-2 cursor-pointer active:scale-95">{{item.name}}</a>
            </div>
        </div>
    </div>
</div>
