@keyframes fadeIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.nav-item {
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: var(--delay, 0s);
    opacity: 0;
    transform: translate(-100%);
}

@keyframes fadeOut {
    from {
        transform: translateX(0%);
        opacity: 1;
    }
    to {
        transform: translateX(-110%);
        opacity: 0;
    }
}

.nav-item-out {
    animation: fadeOut 1s ease-in-out forwards;
    animation-delay: var(--delay, 0s);
    opacity: 1;
    transform: translate(0%);
}
