<div class="w-full bg-slate-600 p-2 mt-10">
    <div class="text-3xl text-white p-2 font-extrabold">
        Fastrack
    </div>
    <div class="flex sm:justify-around justify-center gap-5 p-2 flex-wrap">
        <div class="text-sm text-white font-extralight font-okra space-y-3 min-w-[320px] sm:min-w-[20%] sm:text-left">
            <h1 class="text-white text-lg font-semibold">About Fastrack</h1>
            <p class="cursor-pointer">Who we are</p>
            <p class="cursor-pointer">Blog</p>
            <p class="cursor-pointer">Join us</p>
            <p class="cursor-pointer">Features</p>
        </div>
        <div class="text-sm text-white font-extralight font-okra space-y-3 min-w-[320px] sm:min-w-[20%] sm:text-left">
            <h1 class="text-white text-lg font-semibold">Further Information</h1>
            <p class="cursor-pointer">Term and Conditions</p>
            <p class="cursor-pointer">Policy</p>
        </div>
        <div class="text-sm text-white font-extralight font-okra space-y-3 min-w-[320px] sm:min-w-[20%] sm:text-left">
            <h1 class="text-white text-lg font-semibold">Social Handles</h1>
            <p class="cursor-pointer">Twitter</p>
            <p class="cursor-pointer">Instagram</p>
            <p class="cursor-pointer">Facebook</p>
        </div>
    </div>
</div>
