<div class="px-2 py-1 w-full flex justify-end gap-x-5 flex-wrap-reverse gap-y-3">

    <div class="flex items-center justify-center relative w-full md:w-[420px]">
        <input type="text" #inputElement
               class="focus:outline-none focus:border-b-2 border-green-950 bg-green-50 px-3 py-2 text-sm text-slate-700 w-full"
                placeholder="search the product by name" (keyup)="generateSearch($event)" [(ngModel)]="text"
        >
        <div class="absolute right-0 p-2 cursor-pointer active:scale-75" (click)="emptySearch()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-slate-700">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </div>
    </div>
    <!--         header-->
    <add-button (addField)="handleAddClick($event)"></add-button>

    <custom-button text="Filter" css="bg-violet-200 bg-opacity-50 text-violet-400 active:scale-95 rounded-none"></custom-button>

    <custom-button text="Save" css="bg-emerald-200 bg-opacity-50 text-emerald-400 active:scale-95 rounded-none"></custom-button>
</div>
