<div class="p-2 flex justify-center sm:justify-between flex-wrap min-w-[320px] mt-5">
    <div class="sm:w-1/2 w-full flex justify-center items-center">
        <div class="w-full p-4">
            <div class="text-4xl sm:text-6xl w-full text-center font-bold text-[#c5fd02]">
                Fastrack Courier
            </div>
            <p class="font-medium text-sm sm:text-xl w-full text-center mt-5 text-slate-700">
                We ship your product with <strong>safety</strong> and <strong>security</strong> through-out India
            </p>
            <section class="w-full flex items-center justify-around mt-5">
                <input type="text" placeholder="Enter a delivery address" class="rounded-t-md p-2 w-2/3 bg-slate-50 focus:outline-none border-b-2 border-[#c5fd02]">
                <button class="px-3 py-2 bg-[#c5fd02] rounded-md font-semibold text-white w-1/4 active:scale-95">Enter</button>
            </section>
        </div>
    </div>
    <div class="w-[450px] sm:w-1/2">
        <img src="assets/image/home/section1.png" alt="section-1">
    </div>
</div>
