<div class="mt-5 relative flex">

    <input
        #inputElement
        [type]="type"
        [placeholder]="placeholder"
        [class]="'peer input-base ' + class"
        autocomplete="false"
        (keyup)="updateData($event)"
        [value]="data ? data : ''"
    >

    <div class="absolute right-0 top-1.5">
        <ng-content></ng-content>
    </div>

    <label class="text-zinc-600 absolute left-2 -top-3.5 peer-focus:block duration-200
            peer-focus:-top-2.5 peer-placeholder-shown:text-base transition-all ease-in-out peer-placeholder-shown:text-slate-600
                 peer-placeholder-shown:top-3.5 peer-focus:text-green-950 cursor-text" (click)="focusInput()">
        {{ label }}
    </label>

</div>


