<div class="w-full flex md:justify-start justify-between items-center relative shadow-md bg-green-300 text-lime-950">
    <app-logo [css]="'text-3xl font-semibold px-3 text-white cursor-pointer'" (click)="opened = !opened; openNav()"></app-logo>
    <div class="w-fit justify-between text-lg gap-x-5 md:flex hidden mx-5">
        <div [routerLink]="'dashboard'" class="cursor-pointer  px-3 py-2 rounded-md active:scale-95">Dashboard</div>
        <div [routerLink]="'product'" class="cursor-pointer  px-3 py-2 rounded-md active:scale-95">Product</div>
        <div class="cursor-pointer  px-3 py-2 rounded-md active:scale-95">Shipment</div>
        <div class="cursor-pointer  px-3 py-2 rounded-md active:scale-95">Account</div>
    </div>
    <div class="p-2 bg-white rounded-full cursor-pointer mx-5 sm:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-black">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
        </svg>
    </div>
</div>
