<section class="p-10 w-full h-[85vh] bg-white shadow-md m-2">
    <div class="text-3xl font-semibold text-lime-500">
        Product Details
    </div>
    <div class="flex items-center justify-around w-full h-full">
        <div class="p-2 w-full">
            <div>
                <input type="text" placeholder="Enter the product name" class="input-element">
            </div>

            <div>
                <input type="text" placeholder="Enter the customer name" class="input-element">
            </div>

            <div>
                <input type="text" placeholder="Enter the customer email" class="input-element">
            </div>

            <div>
                <input type="text" placeholder="Enter the customer phone" class="input-element">
            </div>
        </div>
        <div class="p-2 w-full">
            <div>
                <input type="text" placeholder="Enter the product category" class="input-element">
            </div>

            <div>
                <input type="text" placeholder="Enter the product weight" class="input-element">
            </div>

            <div>
                <input type="date" placeholder="Enter the receiving date" class="input-element">
            </div>

            <div>
                <input type="text" placeholder="Enter the product description" class="input-element">
            </div>
        </div>
    </div>

</section>
