<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="push">
        <mat-nav-list>Product Menu</mat-nav-list>
        <mat-nav-list>
            @for(item of sideBarItems; track $index){
                <a mat-list-item  [routerLink]="item.path">{{ item.name }}</a>
            }
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="absolute top-0 left-0">
            <button (click)="opened = !opened" mat-button class="mat-button-custom">Toggle Button</button>
        </div>
        <div class="mt-10">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
