<div class="absolute top-0 left-0">
    <app-logo [css]="'bg-yellow-300 text-3xl font-semibold px-3 text-white'"></app-logo>
</div>
<div class="mx-auto w-full h-screen flex justify-center items-center bg-orange-50">
    <div class="flex justify-center max-w-4xl overflow-hidden bg-white rounded-xl shadow-md pb-5">
        <div class="hidden md:block w-1/2 max-w-7xl object-contain overflow-hidden">
            <img src="../../../assets/image/loginside.png" alt="login" class="w-full h-full object-contain">
        </div>

        <div class="px-5 sm:px-0 pt-5 relative md:w-1/2  sm:w-[380px] w-[320px]">
            <div class="md:hidden block overflow-hidden bg-yellow-300 rounded-xl h-20 object-cover p-2">
                <img src="../../../assets/gif/logo/tenor1.gif" alt="tenor" class="w-full h-full mix-blend-multiply">
            </div>
            <div class="overflow-hidden w-full px-3">
                <div class="text-3xl font-bold px-2 my-5 text-slate-600">
                    Login
                </div>
                <section class="section-element">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-blue-600">
                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="w-full font-helvetica text-xl">
                        <input type="text" placeholder="username" class="input-element">
                    </div>
                </section>

                <section class="section-element">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-blue-600">
                            <path fill-rule="evenodd" d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="w-full font-helvetica text-xl">
                        <input type="password" placeholder="password" class="input-element">
                    </div>
                </section>

                <section class="section-element">
                    <button class="w-full p-2 text-xl bg-yellow-300 rounded-md text-white font-bold">Login</button>
                </section>

                <section class="section-element">
                    <div class="flex justify-center items-center w-full">
                        <hr class="block w-1/2 border">
                        <span class="font-okra text-xl text-slate-700">or</span>
                        <hr class="block w-1/2 border">
                    </div>
                </section>

                <section class="flex px-2 gap-2 font-helvetica my-4">
                    <div class="text-center w-full p-2 border-2 text-sm text-slate-600 cursor-pointer">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="h-5 w-5 inline-block"><g>
                            <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                            </path><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                            <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                            <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                            <path fill="none" d="M0 0h48v48H0z"></path></g>
                        </svg>
                        Sigin With Google
                    </div>
                </section>

                <section class="section-element">
                    <hr class="block w-full border text-slate-600">
                </section>

                <section class="section-element">
                    <div class="text-sm font-helvetica">New to Fastrack?</div>
                    <a routerLink="/register" class="block text-yellow-400 cursor-pointer text-sm font-helvetica underline underline-offset-1">Create account</a>
                </section>
            </div>
        </div>
    </div>
</div>
