<div class="p-2 flex justify-between flex-wrap-reverse gap-y-3">

    <custom-button text="Download" class="active:scale-95 bg-emerald-200 text-emerald-400 bg-opacity-50 hover:bg-opacity-90 rounded-none"></custom-button>

    <div class="flex justify-end gap-x-5 sm:w-fit w-full">
        <div class="flex items-center gap-x-2 text-center active:outline-green-200">
            <span class="text-sm font-extralight">Items per page</span>
            <select class="p-2 w-20 focus:outline-green-200 cursor-pointer rounded-md" (change)="handlePagination($event)">
                @for(item of pageSize; track $index){
                    <option value="{{item}}" >{{item}}</option>
                }
            </select>
        </div>

        <custom-button text="Prev" [class]="'border active:scale-95 bg-sky-300 bg-opacity-80 text-sky-800 hover:bg-opacity-90'" (click)="clickPrev()"></custom-button>
        <div class="text-sm p-2 font-semibold text-green-950 flex items-center justify-center">
            <span>{{page}}</span>
        </div>
        <custom-button text="Next" [class]="'border active:scale-95 bg-cyan-300 bg-opacity-80 text-cyan-800 hover:bg-opacity-90'" (click)="clickNext()"></custom-button>
    </div>
</div>
